@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*@import url("datepicker.css");*/

/* set variables */
:root {
    --md-sys-color-primary: #74C7D3;
    --md-sys-color-secondary: #747474;
    --md-slider-label-text-color: #333333;
    --md-slider-label-text-weight: 700;
    --md-slider-label-text-size: 15px;
    /* set font family */
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    background-color: #292d2f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.pageTop {
    width: 100%;
    position: fixed;
    z-index: 20;
    background-color: #292d2f;
}

.pageTopBack {
    width: 100%;
    height: 100%;
    background-color: #292d2f;
    border-radius: 0vw;
}

.pageTop hr {
    margin-left: 3vw;
    margin-right: 3vw;
    height: 0.2vw;
    border-radius: 1vw;
    background-color: #fff;
}

.pageTopRow {
    display: flex;
    align-items: center;
}

.pageTopRow h1 {
    width: 78%;
    text-align: center;
    background-color: #292d2f;
}

.pageTopRowAdmin {
    width: 15%;
}

.mainTitleIcon {
    width: 100%;
    height: 100%;
    margin-top: 15%;
}


.backButton {
    width: 6vmax;
    padding: 2vmax;
    transition: 0.2s;
    z-index: 100;
    cursor: pointer;
    width: 7%;
}

.backButton:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.blueText {
    color: #74C7D3;
}

.loginContainer {
    /*display: flex;*/
    /*border: red solid 1px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    padding: 1vw;
    border-radius: 1vw;
}

.loginContainer md-outlined-text-field {
    width: 100%;
    margin-bottom: 1vw;
}

.loginContainer md-filled-button {
    width: 100%;
}

.aiPageBox {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    /*border: red solid 1px;*/
    background-color: #fff;
    padding: 1vw;
    border-radius: 2vw;
}

.aiPageBox h1 {
    color: black;
    margin-bottom: 0.2vw;
}

.aiResponse {
    color: black;
}

.aiAskButton {
    margin-top: 1.5vw;
    width: 100%;
} 

.aiPageContainer {
    /*display: flex;*/
    /*border: red solid 1px;*/
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vmax;
    z-index: 10;
}

.searchField {
    background-color: #fff;
    border-radius: 3vw;
    padding: 1vw;
}

.searchField md-filled-text-field {
    width: 100%;
}

@media screen and (max-width: 700px) {
    
}
