@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*@import url("datepicker.css");*/

/* set variables */
:root {
    --md-sys-color-primary: #74C7D3;
    --md-sys-color-secondary: #747474;
    --md-slider-label-text-color: #333333;
    --md-slider-label-text-weight: 700;
    --md-slider-label-text-size: 15px;
    /* set font family */
    --md-ref-typeface-brand: 'Lalezar';
    --md-ref-typeface-plain: 'Lalezar';
}

body {
    margin: 0;
    padding: 0;
    background-color: #292d2f;
    color: #fff;
    font-family: "Lalezar";
    font-weight: 10;
}

.pageTop {
    width: 100%;
    position: fixed;
    z-index: 20;
    background-color: #292d2f;
}

.pageTopBack {
    width: 100%;
    height: 100%;
    background-color: #292d2f;
    border-radius: 0vw;
}

.pageTop hr {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 0.2vw;
    border-radius: 1vw;
    background-color: #fff;
}

.pageTopRow {
    display: flex;
    align-items: center;
}

.pageTopRow h1 {
    width: 130%;
    text-align: center;
    background-color: #292d2f;
    font-family: "Lalezar";
    font-weight: 100;
    font-size: 2.5vw;
    margin: -1vw;
}

.pageTopRowAdmin {
    width: 15%;
}

.mainTitleIcon {
    width: 90%;
    height: 90%;
    margin-top: 8%;
    align-self: center;
}

.backButton {
    width: 6vmax;
    padding: 2vmax;
    margin-top: -1vw;
    margin-bottom: -1vw;
    transition: 0.2s;
    z-index: 100;
    cursor: pointer;
    width: 5%;
}

.backButton:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.blueText {
    color: #74C7D3;
}

.yellowText {
    color: #FECB2E;
}

.loginContainer {
    /*display: flex;*/
    /*border: red solid 1px;*/
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 1vw;
    border-radius: 1vw;
}

.loginContainer md-outlined-text-field {
    width: 100%;
    margin-bottom: 1vw;
    margin-top: 1vw;
    --md-outlined-text-field-hover-outline-color: #fff;
    --md-outlined-text-field-outline-color: #fff;
    --md-outlined-text-field-label-text-color: #fff;
    --md-outlined-text-field-hover-label-text-color: #fff;
    --md-outlined-text-field-input-text-color: #fff;
    --md-outlined-text-field-hover-input-text-color: #fff;
    --md-outlined-text-field-focus-input-text-color: #fff;
}

.loginContainer md-outlined-text-field md-icon {
    color: #fff;
}

.loginContainer md-filled-button {
    width: 100%;
}

.loginContainer md-filled-button:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

.aiPageBox {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    /*border: red solid 1px;*/
    background-color: #fff;
    padding: 1vw;
    border-radius: 2vw;
}

.aiPageBox h1 {
    color: black;
    margin-bottom: 0.2vw;
}

.aiResponse {
    color: black;
}

.aiAskButton {
    margin-top: 1.5vw;
    width: 100%;
} 

.aiPageContainer {
    /*display: flex;*/
    /*border: red solid 1px;*/
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vmax;
    z-index: 10;
    --md-filled-button-container-color: #74C7D3;
    --md-filled-button-label-text-color: #fff;
    --md-filled-button-hover-label-text-color: #fff;
}

.aiPageContainer md-filled-button {
    margin-top: 2vw;
    justify-self: center;
    align-self: center;
    width: 30%;
}

.aiPageContainer md-filled-button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.aiPageContainer h2, h1 {
    font-weight: 100;
}

.searchField {
    background-color: #fff;
    margin-top: 3vw;
    margin-bottom: 2vw;
    --md-filled-text-field-container-color: #fff;
    --md-filled-text-field-container-hover-color: #fff;
    --md-filled-text-field-active-indicator-color: #fff;
    --md-filled-text-field-hover-active-indicator-color: #fff;
    --md-filled-text-field-focus-active-indicator-color: #fff;
}

.formPageContainer md-outlined-text-field md-icon {
    color: #fff;
}

.searchField md-filled-text-field {
    width: 60%;
}

.aiPageContainer .searchField .searchButton md-filled-button {
    justify-self: center;
    align-self: center;
    width: 20%;
}

.detailTime {
    display: flex;
    width: 35%;
    justify-self: center;
}

.detailTime md-icon {
    width: 35%;
    color: #74C7D3;
    --md-icon-size: 4.5vw;
}

.detailTimeSubContainer {
    display: flex;
    flex-direction: column;
}

.detailTimeSubContainer p {
    margin: 0.2vw;
    margin-left: 1vw;
}

.detailEdLevel {
    margin-top: 1vw;
    margin-right: 0.2vw;
    display: flex;
    flex-wrap: wrap;
}

.detailEdLevel p {
    margin: 0.1vw;
    margin-right: 0.5vw;
    padding: 0.3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 1vw;
    background-color: #74C7D3;
    color: #fff;
    font-weight: 100;
    transition: 0.2s;
    font-size: 1vw;
    width: 30%;
    text-align: center;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
}

.detailLeft {
    width: 60%
}

.detailRight {
    width: 40%
}

.detailHomePrep {
    background-color: #fff;
    padding: 1.2vw;
    border-radius: 1vw;
    margin-top: 2vw;
}

.detailHomePrepSub hr {
    width: 100%;
    height: 0.2vw;
    border-radius: 1vw;
    background-color: #333333;
    border: none;
}

.detailTimeSubContainer p {
    color: #fff;
}

.detailLinks p {
    color: #fff;
}

.activityCard .detailLinks p {
    color: #333333;
}

.activityCard .detailHomePrep {
    padding: 0vw;
}

.detailHomePrep h2, p{
    color: #333333;
    margin-top: 0vw;
    margin-bottom: 0vw;
}

.detailHomePrepSub p{
    color: #333333;
    margin-top: 0vw;
    margin-bottom: 0vw;
}

.detailSide {
    display: flex;
}

.detailSideBot {
    display: flex;
    justify-content: space-between;
}

.detailRightBot {
    width: 49%;
}

.detailLeftBot {
    width: 49%;
}

.detailGallerySub {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detailGalleryImages {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-bottom: 2vw;
}

.detailGalleryImages img {
    width: 30%;
}

.detailName {
    background-color: #74C7D3;
    width: 100%;
    text-align: center;
}

.adminName {
    background-color: #FECB2E;
    width: 100%;
    text-align: center;
}

.detailHomePrepSubText {
    margin-left: 1vw;
}

.formPageContainer md-outlined-text-field {
    --md-outlined-text-field-hover-outline-color: #fff;
    --md-outlined-text-field-outline-color: #fff;
    --md-outlined-text-field-label-text-color: #fff;
    --md-outlined-text-field-hover-label-text-color: #fff;
    --md-outlined-text-field-input-text-color: #fff;
    --md-outlined-text-field-hover-input-text-color: #fff;
    --md-outlined-text-field-focus-input-text-color: #fff;
    margin-top: 1vw;
    margin-right: 1vw;
}

.formPageContainer md-outlined-text-field md-icon {
    color: #fff;
}

.formPageContainer .createButton {
    margin-top: 2vw;
    justify-self: center;
    align-self: center;
    width: 1%;
}

.formPageContainer .createButton:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.loginButton {
    justify-self: center;
    align-self: center;
}

.loginButton:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.createButtonFin {
    margin-top: 2vw;
    margin-bottom: 2vw;
    justify-self: center;
    align-self: center;
    width: 50%;
    --md-filled-button-container-color: #74C7D3;
    --md-filled-button-label-text-color: #fff;
    --md-filled-button-hover-label-text-color: #fff;
}

.createButtonFin:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.task p {
    color: #fff;
}

.deleteTask{
    margin-top: 0.3vw;
    margin-left: 2vw;
    --md-icon-size: 1.5vw;
}

.deleteTask:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.deleteTaskLong{
    margin-top: 0.3vw;
    --md-icon-size: 1.5vw;
}

.deleteTaskLong:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.formPageContainer {
    /*display: flex;*/
    /*border: red solid 1px;*/
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vmax;
    z-index: 10;
    --md-filled-button-container-color: #74C7D3;
    --md-filled-button-label-text-color: #fff;
    --md-filled-button-hover-label-text-color: #fff;
}

.formPageContainer h2, p {
    font-weight: 100;
    color: #fff;
}

.activityCard {
    background-color: #fff;
    padding: 1vw;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.activityCard .detailEdLevel p {
    margin: 0.1vw;
    margin-right: 0.5vw;
    padding: 0.3vw;
    padding-left: 1vw;
    background-color: #74C7D3;
    color: #fff;
    font-weight: 100;
    transition: 0.2s;
    font-size: 1vw;
    width: 30%;
    text-align: center;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
}

.activityCard h1, p, h2 {
    color: #333333;
    margin: 0vw;
    margin-top: 1vw;
}

.activityCardTopRight {
    display: flex;
}

.activityCardTopRight p {
    margin-left: 1vw;
    justify-content: center;
}

.activityCardTopRight md-icon {
    color: #74C7D3;
    --md-icon-size: 3vw;
}

.detailPageTop p {
    color: #fff;
}

.detailGallerySub h2 {
    color: #fff;
}

.activityCard .detailGallerySub h2 {
    color: #333333;
}

.inputsTitle {
    margin-top: 1vw;
}

.verifyButton {
    margin-right: 1vw;
}

@media screen and (max-width: 700px) {
    
}
