@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* set variables */
:root {
    --md-sys-color-primary: #FECB2E;
    --md-sys-color-secondary: #747474;
    --md-slider-label-text-color: #333333;
    --md-slider-label-text-weight: 700;
    --md-slider-label-text-size: 15px;
    /* set font family */
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    background-color: #292d2f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}


.lectorSmall {
    cursor: pointer;
}

.vlevoDole {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vmax;
}

.vpravoDole {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vmax;
}

.vpravoNahore {
    position: fixed;
    top: 0;
    right: 0;
    width: 70vmax;
}

.lectorContainer {
    /*display: flex;*/
    /*border: red solid 1px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vmax;
    z-index: 10;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lectorLeftBox {
    width: 30%;
    /*border: green solid 1px;*/
}

.lectorRightBox {
    width: 70%;
    /*border: blue solid 1px;*/
    padding-left: 2vw;
}

.lectorPicture {
    width: 100%;
    border-radius: 50%;
    transition: 0.2s;
    margin-bottom: 1vw;
}

.lectorPicture:hover {
    transform: scale(1.1);
    transition: 0.2s;
    /*box-shadow: #fff 0 0 1vw;*/
}

.lectorTags {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    /*border: yellow solid 1px;*/
}

.lectorTag {
    margin: 0.1vw;
    padding: 0.3vw;
    border-radius: 5vw;
    background-color: #74C7D3;
    color: #fff;
    font-weight: 700;
    transition: 0.2s;
    font-size: 0.7vw;
}

.lectorListTag {
    font-size: 1vw;
    border-radius: 5vw;
    padding: 0.1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 5vw;
    margin: 0.1vw;
    background-color: #74C7D3;
    color: #fff;
    font-weight: 700;
    transition: 0.2s;
    font-size: 1vw;
}

.lectorTag:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: #333333;
    background-color: #74C7D3;
    /*box-shadow: #fff 0 0 0.5vw;*/
}

.lectorName {
    font-size: 2vw;
    font-weight: 500;
    margin: 0.5vw;
    font-family: "Lalezar", sans-serif;
    font-size: 3vw;
    transition: 0.2s;
}

.lectorName:hover {
    transform: translate(0, -0.25vw);
    transition: 0.2s;
}

hr {
    margin-left: 0.5vw;
    margin-right: 1vw;
    height: 0.2vw;
    border-radius: 1vw;
    background-color: #fff;
}

.lectorLocation {
    font-size: 1.5vmax;
    font-weight: 700;
    margin: 0.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.lectorClaim {
    font-size: 1.1vmax;
    font-weight: 700;
    margin: 0.5vw;
    margin-bottom: 2vw;
}

.lectorBio {
    font-size: 0.8vmax;
    font-weight: 600;
    margin: 0.5vw;
    text-align: left;
    margin-bottom: 2vw;
}

b {
    font-weight: 700;
    color: #FECB2E;
}

.lectorPrice {
    margin: 0.1vw;
    padding: 0.3vw;
    border-radius: 5vw;
    background-color: #74C7D3;
    color: #fff;
    font-weight: 700;
    transition: 0.2s;
    position: relative;
    text-align: right;
    left: 1%;
}

.lectorPrice:hover {
    transform: scale(1.1);
    transition: 0.2s;
    color: #333333;
    background-color: #74C7D3;
    /*box-shadow: #fff 0 0 0.5vw;*/
}

.lectorContactOption {
    margin: 0.1vw;
    padding: 0.3vw;
    border-radius: 1vw;
    background-color: #74C7D3;
    color: #fff;
    font-weight: 700;
    transition: 0.2s;
    font-size: 1vw;
}

.lectorContactOption:hover {
    transition: 0.2s;
    color: #333333;
    background-color: #74C7D3;
    /*box-shadow: #fff 0 0 0.5vw;*/
}

.contactBox {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    /*border: yellow solid 1px;*/
    gap: 1vw;
    padding: 0.4vw;
}

a {
    text-decoration: none;
}

.backButton {
    position: fixed;
    top: 0;
    left: 0;
    width: 6vmax;
    padding: 2vmax;
    transition: 0.2s;
    z-index: 100;
    cursor: pointer;
}

.backButton:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.locationSelect {
    background-color: #333333;
    color: #fff;
}

.locationSelect.active {
    background-color: #74C7D3;
    color: #333333;
}

.filterTags,
.filterLocation {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.4vw;
    column-gap: 0.4vw;
    /*margin-top: 1vw;*/
    margin-bottom: 2vw;
    margin-top: 0.2vw;
}

.filterPrice {
    margin-bottom: 1vw;
}

.tagSelect {
    font-size: 1vw;
    border-radius: 5vw;
    padding: 0.1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    cursor: pointer;
    transition: 0.2s;
    background-color: #74C7D3;
    color: #fff;
}

.tagSelect:hover {
    transform: translateY(-10%);
    transition: 0.2s;
}

.locationSelect {
    background-color: #FECB2E;
    color: #333333;
    font-size: 1vw;
    border-radius: 5vw;
    padding: 0.1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    cursor: pointer;
    transition: 0.2s;
}

.locationSelect:hover {
    transform: translateY(-10%);
    transition: 0.2s;
}

.locationSelect.active {
    background-color: #00384D;
    color: #fff;
}

.tagSelect.active {
    background-color: #00384D;
    color: #74C7D3;
}

.mainPageContainer {
    /*display: flex;*/
    /*border: red solid 1px;*/
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vmax;
    z-index: 10;
}

#filter {
    background-color: #fff;
    padding: 1vw;
    border-radius: 2vw;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin-bottom: 1vw;
}

.lectorListLector {
    border: aqua solid 1px;
    background-color: #fff;
    padding: 1vw;
    border-radius: 2vw;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin-bottom: 1vw;
    transition: 0.2s;
}

.lectorListLector hr {
    margin-left: 0.5vw;
    margin-right: 1vw;
    height: 0.2vw;
    border-radius: 1vw;
    background-color: #333333;
    border: none;
}

.lectorListLector:hover {
    background-color: #74C7D3;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

/*input {
    border: #333333 solid 0px;
    border-radius: 0.3vw;
    height: 1.5vw;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    background-color: #74C7D3;
    color: #fff;
    font-weight: 700;
}*/

.lectorListName {
    font-size: 2vw;
    font-weight: 500;
    margin: 0.5vw;
    font-family: "Lalezar", sans-serif;
    font-size: 3vw;
}

.lectorListLector:hover .lectorListTag {
    background-color: #fff;
    color: #74C7D3;
}

.lectorListLector:hover .moreInfo {
    visibility: visible;
    transition: 0.2s;
}

.lectorListLector:hover hr {
    background-color: #fff;
}

.moreInfo {
    visibility: hidden;
    transition: 0.2s;
    font-size: 1vw;
    color: #fff;
    text-align: center;
}

.lectorListPicture {
    width: 100%;
    border-radius: 50%;
    transition: 0.2s;
    margin-bottom: 1vw;
}

.sliderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.notFoundText {
    font-size: 2vw;
    font-weight: 500;
    margin: 0.5vw;
    font-family: "Lalezar", sans-serif;
    font-size: 3vw;
    text-align: center;
}

.notFoundImg {
    width: 20%;
    border-radius: 50%;
    transition: 0.2s;
    margin-bottom: 1vw;
    text-align: center;
}

.lectorListFilterTagSymbol {
    aspect-ratio: 1/1;
    height: 1vw;
    display: inline-block;
    transform: translateY(0.12vw);
}

.lectorListFilterTagSymbol1 {
    background-color: #ffffff;
    width: 100%;
    height: 0.3vw;
    display: inline-block;
    transform: translateY(-50%);
    top: 50%;
    position:absolute;
}

.lectorListFilterTagSymbol2 {
    background-color: #ffffff;
    width: 100%;
    height: 0.3vw;
    display: inline-block;
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
    position: absolute;
    transition: 0.2s;
}

.active .lectorListFilterTagSymbol2 {
    transform: translateY(-50%);
    transition: 0.2s;
}

.lectorListFilterLocationSymbol {
    aspect-ratio: 1/1;
    height: 1vw;
    display: inline-block;
    transform: translateY(0.12vw);
}

.lectorListFilterLocationSymbol1 {
    background-color: #333333;
    width: 100%;
    height: 0.3vw;
    display: inline-block;
    transform: translateY(-50%);
    top: 50%;
    position:absolute;
}

.lectorListFilterLocationSymbol2 {
    background-color: #333333;
    width: 100%;
    height: 0.3vw;
    display: inline-block;
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
    position: absolute;
    transition: 0.2s;
}

.active .lectorListFilterLocationSymbol2 {
    transform: translateY(-50%);
    transition: 0.2s;
    background-color: #fff;
}

@media screen and (max-width: 700px) {
    .lectorContainer {
        width: 100%;
    }

    .vlevoDole {
        width: 100%;
    }

    .lectorLeftBox {
        width: 100vw;
    }

    .lectorRightBox {
        width: 100vw;
    }

    .flexbox {
        flex-direction: column;
    }

    .lectorPicture, .lectorListPicture {
        width: 50%;
        position: relative;
        left: 50vw;
        transform: translate(-50%, 0);
    }

    .lectorPicture:hover {
        transform: scale(1.1), translate(-50%, 0);
        transition: 0.2s;
    }

    .lectorName {
        font-size: 7vw;
    }

    .lectorBio {
        font-size: 3vw;
    }

    .lectorLocation {
        font-size: 5vw;
    }

    .lectorClaim {
        font-size: 3vw;
    }

    .lectorTag {
        font-size: 3vw;
    }

    .lectorContactOption {
        font-size: 3vw;
    }

    .vlevoDole {
        display: none;
    }

    .lectorListLector {
        width: 100%;
    }

    .mainPageContainer {
        width: 100%;
        top: 20vw;
    }

    .tagSelect, .locationSelect, .lectorListTag {
        font-size: 4vw;
        margin-left: 0.3vw;
        margin-right: 0.3vw;
    }

    .filter {
        width: 100%;
    }

    .lectorListName {
        font-size: 7vw;
    }

    .moreInfo {
        font-size: 4vw;
        color: #333333;
        visibility: visible;
        margin-top: 1vw;
    }

    .lectorListLector:hover .moreInfo {
        color: #fff;
    }

    .lectorListFilterTagSymbol {
        aspect-ratio: 1/1;
        height: 4vw;
        display: inline-block;
        transform: translateY(0.48vw);
    }
    

}

/*.wrapper{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}
.container{
    position: relative;
    width: 100%;
    height: 100px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}*/